@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center align-items-center">
    <div class="p-2">
        <h1 class="display-1">Welcome to IkSound</h1>
        <p class="lead fs-5 fw-medium">The best place to find music for your projects</p>
    </div>
    
    <div class="m-auto mt-5 rounded-circle overflow-hidden m-3" style="width: 200px;">
        <a href="https://github.com/ikno-the-box-guy">
            <img class="w-100 h-100" src="img/ikno.png" alt="Me"/>
        </a>
    </div>
</div>
