@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center align-items-center">
    <div class="p-2">
        <h1 class="display-1">Welcome to IkSound</h1>
        <p class="lead fs-5 fw-medium">The best place to find music and sounds for your projects</p>
    </div>
    
    <div>
        <div class="m-auto mt-5 rounded-circle overflow-hidden m-3" style="width: 200px;">
            <a href="https://github.com/ikno-the-box-guy">
                <img class="w-100 h-100" src="media/img/ikno.png" alt="Me"/>
            </a>
        </div>
        <label class="text-body-tertiary">(This is me btw)</label>
    </div>
    
    <div class="shadow mt-5 p-4 w-50 ms-auto me-auto">
        <p>
            This website can be used to download the free previews of the songs and sound effects from the Epidemic Sound library.
        </p>
        <p>
            However, these preview files don't come with a license to use them in your projects. You can get the license by subscribing to Epidemic Sound.
        </p>
        
        <p>
            If you have any questions or suggestions, feel free to contact me at <a href="mailto:iknobox@gmail.com">iknobox@gmail.com</a>!
        </p>
    </div>
</div>
